In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('dataset/processed_data.csv', index_col='Unnamed: 0')

In [3]:
data

,id,original_title,tags
0,862,Toy Story,"Animation Comedy Family Led by Woody, Andy's t..."
1,8844,Jumanji,Adventure Fantasy Family When siblings Judy an...
2,15602,Grumpier Old Men,Romance Comedy A family wedding reignites the ...
3,31357,Waiting to Exhale,"Comedy Drama Romance Cheated on, mistreated an..."
4,11862,Father of the Bride Part II,Comedy Just when George Banks has recovered fr...
...,...,...,...
45455,289923,The Burkittsville 7,Horror A film archivist revisits the story of ...
45456,222848,Caged Heat 3000,Science Fiction It's the year 3000 AD. The wor...
45457,30840,Robin Hood,Drama Action Romance Yet another version of th...
45459,111109,Siglo ng Pagluluwal,Drama An artist struggles to finish his work w...
45460,67758,Betrayal,Action Drama Thriller When one of her hits goe...

In [4]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [5]:
vector = cv.fit_transform(data['tags']).toarray()

In [8]:
vector.shape

(32892, 5000)

In [6]:
from sklearn.metrics.pairwise import cosine_similarity

In [7]:
similarity = cosine_similarity(vector)

In [12]:
type(similarity)

numpy.ndarray

In [13]:
# similarity.tofile('similarity.bin')

In [22]:
similarity.size

1081883664

In [19]:
def recommend(movie, n_reccomendations):
    index = data[data['original_title'] == movie].index[0]
    distance = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x: x[1])
    similar_movies = []
    for i in distance[1:n_reccomendations + 1]:
        similar_movies.append(data.iloc[i[0]].original_title)
    return similar_movies

In [21]:
recommend('Toy Story', 10)

['Toy Story 3',
 'Toy Story 2',
 'Hawaiian Vacation',
 'The 40 Year Old Virgin',
 'Mr. Bug Goes to Town',
 'The Champ',
 "Dug's Special Mission",
 "Andy Hardy's Blonde Trouble",
 'Andy Peters: Exclamation Mark Question Point',
 'Air Mater']